<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loysc.zzangco.kirikiri_snu">

    <application
        android:allowBackup="false"
        android:icon="@drawable/launching_icon_sparc"
        android:label="SPARC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".activity.InAppInfoActivity" />
        <activity android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MemberListActivity"
            android:label="@string/title_activity_member_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailInfoActivity"
            android:label="@string/title_activity_detail_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CallPhoneActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".activity.BoardActivity"
            android:label="@string/title_activity_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BoardDetilActivity"
            android:label="@string/title_activity_board_detil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleDetailActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".activity.OlcActivity"
            android:label="@string/title_activity_olc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OlpActivity"
            android:label="@string/title_activity_olp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OlcManualActivity"
            android:label="@string/title_activity_olc_manual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>